@model IndexVM[]
@{
    ViewBag.Title = "Alla Anställda";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Highlighted</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.ShowAsHighlighted ? "text-danger" : "")">
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-info" asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">
                        Till detaljvy
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Employees" asp-action="Create">Skapa Ny anställd</a>
