@model DateTime

<div 

    <h4 style="margin: 0; font-size: 18px; color: #555;">Aktuell tid:</h4>
    <p style="margin: 5px 0; font-size: 20px; font-weight: bold;">@Model.ToString("HH:mm:ss")</p>
</div>
