@model Employee
@{
    ViewBag.Title = "Skapa Ny Anställd";
}
<form asp-controller="Employees" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Email">E-Mail</label>
        <input asp asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <input type="submit" value="Lägg Till Anställd" />
</form>
@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
     asp-fallback-src="/scripts/lib/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}






