@model Employee[]
@{
    ViewBag.Title = "Alla Anställda";
}

    <h1>Lista över Anställda</h1>

    <table class="table">
        @foreach (var item in Model)
        {
            <ul>
                @item.Name
                @item.Email
                <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">Till detaljvy</a>
            </ul>

        }
    </table>

